<h1>Créer un compte</h1>

<html>
  <body>


    <%= form_tag url_for(action: 'create'), method: "POST" do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      
      <%= label_tag 'first_name' %>
      <%= text_field_tag 'first_name' %>
      <br /> <br />

      <%= label_tag 'last_name' %>
      <%= text_area_tag 'last_name' %>
      <br /> <br />

      <%= label_tag 'description' %>
      <%= text_area_tag 'description' %>
      <br /> <br />

      <%= label_tag 'age' %>
      <%= text_area_tag 'age' %>
      <br /> <br />

      <%= label_tag 'city_id' %>
      <%= text_area_tag 'city_id' %>
      <br /> <br />

      <%= label_tag 'email' %>
      <%= text_area_tag 'email' %>
      <br /> <br />

      <%= label_tag 'password' %>
      <%= text_area_tag 'password' %>
      <br /> <br />

      <%= submit_tag "Créer un compte" %>

    <% end %>

    <!-- ... -->
  </body>
</html>

</body>
