<h1>Ville</h1>
<p>T'as voyagé jusqu'à :</p>

<div class="card">
  <div class="card-header">
    <%= @city_id.name %>
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>ZIP CODE : <%= @city_id.zip_code %></p>
    </blockquote>
  </div>

</div>

<h1>Voici les gossips associés à <%= @city_id.name %> :</h&>
<div class="row">

    <!-- Afficher la liste des Gossip -->
        <% @all_gossips_by_city.each do |gossip| %>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Titre : <%= gossip.title %></h5>
                <blockquote class="blockquote mb-0">
                <p class="card-text"> <%= gossip.content %></p>
                </blockquote>
                
                <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Voir le gossip n°<%= gossip.id %></a>
            </div>

        </div>
        <% end %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
